/*Delete Item Button style fix*/
.submit-row a.deletelink {
    height: 35px;
}

/*Styling for sceditor*/
div.sceditor-container {
    float: left;
    width: 100% !important;
    margin-bottom: 10px;
}