/*Delete Item Button style fix*/
.submit-row a.deletelink {
    height: 35px;
}

/*Styling for sceditor*/
div.sceditor-container {
    float: left;
    width: 100% !important;
    margin-bottom: 10px;
}

/*Fixes for property selector*/
.property-selector label {
    float: none;
}
.property-selector .form-check-label:after {
    display: none  !important;
}
